<html>
<head>
<title> Film Finder</title>
</head>
<body>
<h1>INDEX HOME</h1>
<form action="/searchMovieTitle" method="get">
    <label for="fname">Input Movie:</label>
    <input type="text" id="fname" name="title"><br><br>
    <input type="submit" value="Search">
</form>
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/9SX-jF6dTPU?si=6zJaZD8X8Cg04urK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></html>  
</body>
</html>  