footer {
    min-height: min-content;
    background-color: #222222; /* Background color for the footer */
    border-top: 0px solid #ccc; /* Border at the top of the footer */
    padding: 5px; /* Padding for the content inside the footer */
    position: fixed; 
    width: 100%; 
}
footer p{
    font-size: 12px;
    text-align: center;
    color: white;
}